In [1]:
#Upsampling and downsampling

In [38]:
import numpy as np
import pandas as pd

In [39]:
# seting the random seed for reproductivity
np.random.seed(123)

In [40]:
#create a dataframe with two classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [41]:
n_class_0

900

In [42]:
n_class_1

100

In [43]:
class_0=pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})
class_1=pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [44]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [45]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

#upsmpling

In [46]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [47]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [48]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [49]:
from sklearn.utils import resample

In [50]:
df_minority_upsample=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=43)
# replace=True will replace old datapoints and form new ones

In [51]:
df_minority_upsample.shape

(900, 3)

In [52]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [53]:
df_upsampled=pd.concat([df_majority,df_minority_upsample])

In [54]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [55]:
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
964   2.397060   0.740228       1
968   2.272462   2.493580       1
919   1.804892   2.842652       1
917   2.197269   4.216788       1
932   1.915470   1.652041       1

[1800 rows x 3 columns]

In [56]:
#Downsampling

In [57]:
class_0=pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})
class_1=pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [58]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [59]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [65]:
df_majority_upsample=resample(df_majority,replace=True,n_samples=len(df_minority),random_state=43)
# replace=True will replace old datapoints and form new ones

In [66]:
df_downsampled=pd.concat([df_majority_upsample,df_minority])

In [67]:
df_downsampled

     feature_1  feature_2  target
836  -0.644353  -0.611025       0
320   0.705538   1.313343       0
255  -0.215535   0.298932       0
817   0.602853   1.246530       0
277   0.316195  -0.578685       0
..         ...        ...     ...
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

[200 rows x 3 columns]

In [68]:
df_downsampled['target'].value_counts()

0    100
1    100
Name: target, dtype: int64