In [24]:
import pandas as pd

In [25]:
from sklearn.preprocessing import OneHotEncoder

In [26]:
df=pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [27]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [28]:
## Create an instance of onehot encoder

In [29]:
encoder=OneHotEncoder()

In [30]:
import numpy as np

In [31]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [34]:

encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [35]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0